<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400|Oswald:600'>
  <link rel="stylesheet" href="assets/styles/styles.css">
  <link rel="stylesheet" href="assets/styles/500.css">
  <title>Error <%= error.code %>
  </title>
</head>

<body>
  <div id="error">Error</div>
  <div class="error-num">
    <%= error.code %>
      <div class="error-num__clip">
        <%= error.code %>
      </div>
  </div>
  <p id="desc">
    <%= error.message %>
  </p>

</html>